<ion-view title="Crime Mapping">

  <ion-content class="has-header">
    <div class="list" style="margin-bottom: 0px;">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input id="address" type="text" placeholder="Search location">
        </label>
        <button class="button button-small" ng-click="codeAddress()">Search</button>
      </div>
    </div>
    <div id="map" data-tap-disabled="true"></div>
    <div id="legend">
      <h4 class="center">Legend</h4>
      <div><img src="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|00FF00">&emsp;Authority</div>
      <div><img src="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|0000FF">&emsp;Validated</div>
      <div><img src="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|FFFF00">&emsp;Not Validated</div>
    </div>
  </ion-content>

</ion-view>