<ion-view title="Prevention Tips" cache-view="false">

	<ion-nav-bar class="bar-dark" align-title="center">
		<ion-nav-buttons side="left">
			<button class="button button-clear icon ion-android-arrow-back backBtn" ui-sref="home"></button>
		</ion-nav-buttons>
		<ion-nav-buttons side="right" >
			<button class="button button-clear"></button>
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-content>
		
		<div class="list">
			<a class="item item-thumbnail-left" ui-sref="perPrevention({id : prevention.id})" collection-repeat="prevention in prevention">
				<img ng-if="prevention.imgURL1 == null" src="../img/default.png">
				<img ng-if="prevention.imgURL1 != null" src="{{ prevention.imgURL1 }}">
				<h3>{{ prevention.title }}</h3>
				<p>{{ prevention.date | date: dd/MM/yyyy}}</p>
			</a>
		</div>

	</ion-content>
	
</ion-view>
